<html>
    <head><center>
    <h1>Page du potin numero <%= gossip_id %></h1>
    </head>
    <body>
        <h3>Auteur : <%= array_gossip[0]%> - Potin: <%= array_gossip[1]%></h3>
        <a href="/">Revenir a la page principale !</a>
    </body>
</html>